<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown" *ngFor="let c of categories;let i = index;">
        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{c.name}}
        </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li class="dropdown-submenu" *ngFor="let s of categories[i].sublevels;let j = index;" (click)="goToCategory(s.id, c.name)">
            <a class="dropdown-item" tabindex="-1">{{s.name}}</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" *ngFor="let s1 of categories[i].sublevels[j].sublevels;" (click)="goToCategory(s1.id,c.name)">
                <a href="#">{{s1.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>