<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown" *ngFor="let c of categories;let i = index;">
        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="getByCategory(c.id)">
          {{c.name}}
        </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li class="dropdown-submenu" *ngFor="let s of categories[i].sublevels;let j = index;" (click)="getByCategory(s.id)">
            <a class="dropdown-item" tabindex="-1" href="#" >{{s.name}}</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" *ngFor="let s1 of categories[i].sublevels[j].sublevels;" (click)="getByCategory(s1.id)">
                <a href="#">{{s1.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/vinos.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/almuerzo.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/desayunos.jpeg" alt="Third slide">
      </div>
    </div>
  </div>

<div class="container-fluid">

  <div class="row">
    
    <div class="col-xs-3" *ngFor="let p of dataProducts;">
      <div class="card" style="width: 18rem;margin:10px">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Cantidad              <span class="badge badge-primary">{{p.quantity}}</span></h6>
          <p class="card-text">Precio: {{p.price}}</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>


  </div>


</div>

<router-outlet></router-outlet>