
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/vinos.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/almuerzo.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/desayunos.jpeg" alt="Third slide">
          </div>
        </div>
      </div>
      
      <div class="container-fluid">
          <div class="col-md-12">
              <h1>Todos los productos</h1>
           </div>
           <hr>
            <div class="row" id="cont">
                    
                     <div class="row" id="cont-search">
                        <div class="col-xs-12 col-md-5"  style="margin-top:6px">
                          <div class="input-group ">
                            <input type="text" class="form-control" #value placeholder="Buscar por nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" (click)="searchByName(value.value)">Buscar</button>
                            </div>
                          </div>
                        </div>
                  
                  
                        <div class="col-xs-6 col-md-3" style="margin-top:6px">
                  
                          <div id="order">
                            <select class="form-control" id="exampleFormControlSelect1" (change)="order($event)">
                              <option value="name">Ordenar por</option>
                              <option value="quatity">Cantidad</option>
                              <option value="price">Precio</option>
                              <option value="name">Nombre</option>
                              <option value="available">Disponibilidad</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xs-6 col-md-3"  style="margin-top:6px">
                          <button class="btn btn-primary">Ver todos</button>
                        </div>
                        <div class="col-xs-6 col-md-1" style="margin-top:6px">
                          <button type="button" class="btn btn-primary" (click)="goToCar()">
                            <i class="material-icons">add_shopping_cart</i>
                            <span class="badge badge-light">{{amount}}</span>
                          </button>
                  
                        </div>
                  
                      </div>
              
                </div>
      
        <div class="row" id="cont-products">
       
       
          <div class="col-xs-3" *ngFor="let p of dataProducts;">
            <div class="card" style="width: 18rem;margin:10px">
              <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cantidad
                  <span class="badge badge-primary">{{p.quantity}}</span>
                </h6>
                <p class="card-text">Precio: ${{p.price}}</p>
                <a (click)="addToCar(p)" class="btn btn-success">Agregar al carrito</a>
              </div>
            </div>
          </div>
      
      
        </div>
      
      
      </div>